
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>{{ page.personals.first_name }} {{ page.personals.last_name }}- Portfolio</title>
<!--
Elegance Template
https://templatemo.com/tm-528-elegance
-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/fullpage.min.css">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/owl.carousel.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/templatemo-style.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/responsive.css">

    </head>
    
    <body>
    
        {{ content }}


<script src="{{ site.baseurl }}/assets/js/jquery.js"></script>

<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/fullpage.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/scrolloverflow.js"></script>

<script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/jquery.inview.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/form.js"></script>

<script src="{{ site.baseurl }}/assets/js/custom.js"></script>


</body>
</html>